* {
  margin: 0;
}

body {
  background-color: #1a1a1a;
}
.navbar {
  z-index: 1;
  position: fixed;
  margin: 0;
  padding: 10px;
  height: 100px;
  width: 100vw;
  background-color: #1a1a1a;
}


.navbar ul {
  position:fixed;
  left: 250px;
  padding: 20px;
}
.navs {
    display: inline-block;
}
.cursor-none {
  position: fixed;
  cursor: none;
}
.logo {
  display: inline-block;
  margin-top: -15px;
  padding: 4px;
  height: 130px;
  width: 200px;
}

.material-icons {
    font-size: 60px;
    width:60px;
    color: #456557;
    margin-left: 20px;
}

#user_name {
    cursor: pointer;
    position: fixed;
    top: 45px;
    left: 85vw;
    font-size: 20px;
    font-weight: bolder;
    /*width:60px;*/
    color: white;
    margin-left: 20px;
}

.hover_navs:hover {
    color: #00A459;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: pulse;
    transform-origin: center bottom;
}

@media only screen and (max-width: 670px) {
  .navbar {
    position: fixed;
    margin: 0;
    padding: 10px;
    height: 80px;
    width: 100vw;
    background-color: #1a1a1a;
  }
  .logo {
    display: inline-block;
    margin-top: -10px;
    padding: 4px;
    height: 90px;
    width: 130px;
  }
  .material-icons {
    font-size: 30px;
    width:30px;
    color: #456557;
    margin-left: 10px;
  }
  .navbar ul {
    position:fixed;
    left: 140px;
    padding: 30px;
  }
  #user_name {
    top: 48px;
    font-size: 10px;
  }
}


.coverimg {
  background: url("./assets/i1.jpg") no-repeat center fixed;
  background-size: cover;
  height: 100vh;
}

.border {
  border: 1px solid #1a1a1a;
  margin: 0;
  padding: 0;
  height: 120vh;
} 
.content {
  height: 2vh;
}
/** {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}*/
:root {
  --dur: 0.3s;
  /*font-size: calc(40px + (80 - 40)*(100vw - 320px)/(2560 - 320));*/
}
/*body, input {
  color: hsl(0,0%,10%);
  font: 1em/1.5 sans-serif;
}*/
form, .toggle:before, .toggle:after {
  background: hsl(0,0%,90%);
}
form, .toggle {
  position: relative;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
.curtain, .sr, .toggle:before, .toggle:after {
  position: absolute;
}
.curtain, .toggle:before, .toggle:after {
  transition: transform var(--dur);
}
.curtain, .toggle:before, .toggle:checked:after  {
  transition-timing-function: ease-out;
}
.curtain, .sr {
  top: 0;
  left: 0;
}
.curtain {
  background: hsl(0,0%,100%);
  mix-blend-mode: difference;
  pointer-events: none;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: 0 50%;
}
.sr, .toggle {
  overflow: hidden;
}
.sr {
  clip: rect(1px,1px,1px,1px);
  color: transparent;
  width: 1px;
  height: 1px;
}
.toggle {
  background: currentColor;
  border-radius: 1.45em;
  cursor: pointer;
  width: 6em;
  height: 3em;
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.toggle:before, .toggle:after {
  border-radius: 50%;
  content: "";
  display: block;
  top: 0.25em;
  left: 0.25em;
  width: 2.5em;
  height: 2.5em;
}
.toggle:before, .toggle:checked:after {
  transition-delay: 0s;
}
.toggle:checked:before, .toggle:after {
  transition-delay: calc(var(--dur) * 0.75);
  transition-timing-function: cubic-bezier(0.3,1.6,0.5,0.7);
}
.toggle:before {
  transform: translateX(-3.5em);
}
.toggle:checked:before {
  transform: translateX(3em);
}
.toggle:checked:after {
  transform: translateX(3em);
}
.toggle:checked ~ .curtain {
  transform: scaleX(1);
}
.toggle:focus {
  outline: transparent;
}
.marginTop {
  margin-top: 100vh;
}

.content {
  margin-top: 20vh;
}

#heading {
  position: absolute;
  top: 30vh;
  left: 100px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 90px;
  font-weight: 50;
  line-height: 90px;
  color: white;
  transition: 2s;
}

#heading:hover {
  font-size: 110px;
  transition: 2s;
}
#sub-heading {
  position: absolute;
  top: 65vh;
  left: 100px;
  font-family:  'Cinzel', serif;
  font-size:20px;
  line-height: 40px;
  color: white;
  transition: 1s;
}

#sub-heading:hover {
  transition: 1s;
  font-size: 50px;
}

#darkText {
  text-align: center;
}

.btn_position {
  position: absolute;
  top: 85vh;
  right: 10vh;
  text-align: right;
}

.btn {
  font-family: 'Shadows Into Light', cursive;
  font-size:20px;
  letter-spacing: 4px;
  font-weight: bolder;
  padding: 10px;
  text-align: center;
  background-color: rgb(246, 246, 245, 0.3); 
  border-radius: 50px;
  color: rgb(0,0,0,0.5);
  border-left:5px solid white;
  border-right:5px solid white;
  /*border-top:2px dashed white;
  border-bottom:2px dashed white;*/
  transition: 1s;
}

.btn:hover {
  transition: 1s;
  font-size:20px;
  border: 5px solid white;
  color:grey;
  letter-spacing: 15px;
  background-color: rgb(0, 0, 0, 0.8); 
}
