* {
  margin: 0;
}

body {
  background-color: #00ff80;
}
.navbar {
  position: fixed;
  margin: 0;
  padding: 10px;
  height: 100px;
  width: 100vw;
  background-color: #1a1a1a;
}


.navbar ul {
  position:fixed;
  left: 300px;
  padding: 20px;
}
.navs {
    display: inline-block;
}
.cursor-none {
  position: fixed;
  cursor: none;
}
.logo {
    display: inline-block;
  margin-top: -15px;
  padding: 4px;
  height: 130px;
  width: 200px;
}

.material-icons {
    font-size: 60px;
    width:60px;
    color: #456557;
    margin-left: 20px;
}

#user_name {
    cursor: pointer;
    position: fixed;
    top: 45px;
    left: 85vw;
    font-size: 20px;
    color: #456557;
    margin-left: 20px;
}

.hover_navs:hover {
    color: #00A459;
}

@media only screen and (max-width: 670px) {
  .navbar {
    position: fixed;
    margin: 0;
    padding: 10px;
    height: 80px;
    width: 100vw;
    background-color: #1a1a1a;
  }
  .logo {
    display: inline-block;
    margin-top: -10px;
    padding: 4px;
    height: 90px;
    width: 130px;
  }
  .material-icons {
    font-size: 30px;
    width:30px;
    color: #456557;
    margin-left: 10px;
  }
  .navbar ul {
    position:fixed;
    left: 140px;
    padding: 30px;
  }
  #user_name {
    top: 48px;
    font-size: 10px;
  }
}

